* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: grid;
	place-items: center;
	font-family: 'Baloo 2' cursive;
	background: #f1e4e4;
}



.box {
	height: 450px;
	width: 250px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	background: linear-gradient(to bottom, #BD098D, #A41BCB);
}

.box h3 {
	position: relative;
	letter-spacing: 1px;
	margin: 35px;
	text-align: center;
}
.box h3::after{
	position: absolute;
	content: '';
	left: 50%;
	bottom: 4px;
	transform: translate(-50%);
	width: 30px;
	height: 2px;
	background: #ffff;
}
.time__circle {
	position: relative;
	height: 150px;
	width: 150px;
	background: #e337d5;
	border-radius: 50%;
	border: 2px solid #7604d1;
	text-align: center;
}
.time__circle p {
	font-size: 18px;
	margin: 35px 0;
}
.sec__circle {
	position: absolute;
	top: 0;
	right: 50%;
	width: 2px;
	transform-origin: bottom;
	transition: 1s;
}
.sec__circle::after{
	content: '';
	position: absolute;
	top: -6px;
	right: -5px;
	height: 10px;
	width: 10px;
	background: #fff;
	border: 1px solid black;
	border-radius: 50%;
} 

.timer__controls {
	margin-top: 150px;
}
.timer__controls .play__btn {
	padding: 10px;
	line-height: 10px;
	border-radius: 50%;
	border: none;
	background: #ffff;
	color: #4d01fa;
	cursor: pointer;
	text-shadow: 0px 0px 5px #4d01fa;
}
span {
	cursor: pointer;
}
